.Dictionary section {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  border: 2px dotted black;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.Dictionary {
  text-align: center;
}

.searchButton {
  margin: 0px 10px 0px 10px;
  max-width: 100px;
  background-color: #dde5cd;
  color: black;
  border: 2px solid #ddd;
  transition: all 150ms ease-in-out;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #8d8d8c;
  font-size: 18px;
}

.searchButton:hover {
  background-color: #fee5c7;
  border: 1px solid #8d8d8c;
  color: black;
}
