.Synonyms {
  margin: 20px 0 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  font-size: 18px;
  line-height: 1;
  color: #efbfcd;
  font-weight: bold;
  text-shadow: 0 0 4px black;
}
